node_modules/

dist
#__tests__

src/test.ts
src/classtest.ts
src/connection
rollup-test.config.js
rollup-classtest.config.js
tsconfig-test.json
#jest.config.js
first-draft*
lib/*

timing.log

.env
.vscode

NOTES.md
